@import './variables';
// -------- Global PLACE HOLDERS
/* text-shortening placeholder */
%text-shorten {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* CSS perfect centering */
%css-parent-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
%css-self-center {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* circle making css */
%css-circle {
  border-radius: 100%;
}

/* turn on hardware acceleration */
%accelerated {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translate3d(0, 0, 0);
}

// Project PLACEHOLDERS
%persian {
  font-family: $font-persian;
  direction: rtl;
}

%english {
  font-family: $font-persian;
  direction: ltr;
}

%no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
