//globals
$transparent: transparent;
$white: #ffffff;
$whiteIcon: #f0f0f0;
$background: #fbfbfb;
$black: #1b1b1b;
$surface: #ffffff;

// !!! --- NOTICE --- !!!
// PLEASE MANAGE TO USE THE ** PRIMARY ** SECONDARY ** TEXT ** SUCCESS ** WARNING ** DANGER COLORS. IF YOUR COLOR

// MAIN COLORS --------------------------------------------------
// MAIN COLOR ---> PRIMARY
$llprimary: #cfc8ff;
$lprimary: #9d90fa;
$primary: #6c5dd3;
// MAIN COLOR ---> TEXT
$tprimary: #3a3370;
$tsecondary: #7d7d7d;
$tdisable: #aeaeae;
// MAIN COLOR ---> LINE
$linePrimary: #525252;
$lineSecondary: #6d6d6d;
$lineDisabled: #b3b3b3;
// MAIN COLOR ---> DANGER
$l4danger: #ffebeb;
$llldanger: #ffc8c8;
$lldanger: #ffb2b2;
$ldanger: #ff8888;
$danger: #f46964;
// MAIN COLOR ---> SUCCESS
$l4success: #ecfaf0;
$lllsuccess: #c6e8cf;
$llsuccess: #a0deb1;
$lsuccess: #75d28e;
$success: #49b265;
// MAIN COLOR ---> WARNING
$l4warning: #fff4e8;
$lllwarning: #ffe5c6;
$llwarning: #ffd8ab;
$lwarning: #ffbf74;
$warning: #ffb11d;

// PALETTE COLORS --------------------------------------------------
// PALETTE = gray
$l4gray: #f2f2f2;
$lllgray: #e2e2e2;
$llgray: #cfcfcf;
$lgray: #afafaf;
$gray: #8c8c8c;
$dgray: #909895;
$ddgray: #707070;
// PALETTE = purple
$l4purple: #f2f0ff;
$lllpurple: #e0dcff;
$llpurple: #cac2ff;
$lpurple: #a396ff;
$purple: #6c5dd3;
// PALETTE = blue
$l4blue: #e5f4ff;
$lllblue: #c6e7ff;
$llblue: #a4d8ff;
$lblue: #80c9ff;
$blue: #49b3ff;
// PALETTE = yellow
$l4yellow: #fffae7;
$lllyellow: #fff4cb;
$llyellow: #ffeaa0;
$lyellow: #ffe380;
$yellow: #ffd541;
