@import "./helpers/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overflow: visible !important;
  padding: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;

  min-height: 100vh;
  background-color: $background;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    background: $llprimary;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $llprimary;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $tprimary;
    border-radius: 9999px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}
.candleLegends {
  background-color: $background;
  &-win {
    color: $lsuccess;
    position: relative;
    display: block;
  }
  &-win::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: $lsuccess;
    border-radius: 0.125rem;
    position: absolute;
    top: 0.3125rem;
    left: -0.75rem;
  }
  &-lose {
    color: $ldanger;
    position: relative;
    display: block;
  }
  &-lose::before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: $ldanger;
    border-radius: 0.125rem;
    position: absolute;
    top: 0.3125rem;
    left: -0.75rem;
  }
}
.logo-bar-rounded-first {
  border-radius: 0.0375em 0.0375em 0 0.0375em;
}

.logo-bar-rounded-last {
  border-radius: 0.0375em;
}

.first-bar-animation {
  transform-origin: bottom;
  animation: firstBar 3s infinite 1s;
}

@keyframes firstBar {
  0% {
    transform: scaleY(1);
  }
  16% {
    transform: scaleY(0.66);
  }
  33% {
    transform: scaleY(0.66);
  }
  50% {
    transform: scaleY(0.5);
  }
  66% {
    transform: scaleY(0.5);
  }
  83% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.second-bar-animation {
  transform-origin: bottom;
  animation: secondBar 3s infinite 1s;
}

@keyframes secondBar {
  0% {
    transform: scaleY(1);
  }
  16% {
    transform: scaleY(0.66);
  }
  33% {
    transform: scaleY(0.66);
  }
  50% {
    transform: scaleY(1);
  }
  66% {
    transform: scaleY(1);
  }
  83% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}

.third-bar-animation {
  transform-origin: bottom;
  animation: thirdBar 3s infinite 1s;
}

@keyframes thirdBar {
  0% {
    transform: scaleY(1);
  }
  16% {
    transform: scaleY(0.66);
  }
  33% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(2);
  }
  66% {
    transform: scaleY(2);
  }
  83% {
    transform: scaleY(2);
  }
  100% {
    transform: scaleY(1);
  }
}

.rtl-grid {
  direction: rtl;
}

.highcharts-credits {
  display: none !important;
}
// .highcharts-point {
//   clip-path: inset(0% 0% 0% 0% round 0.5rem 0.5rem 0 0);
//   &.highcharts-negative {
//     clip-path: inset(0% 0% 0% 0% round 0 0 0.5rem 0.5rem);
//   }
// }

.dropdown-scroll {
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $whiteIcon;
    border-radius: 9999px;
    transition: all 0.2s;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $tdisable;
  }
}

.toastContainerGradient {
  background: transparent;
  background: linear-gradient(90deg, rgba($tprimary, 1) -70%, rgba(0, 0, 0, 0) 70%);
}

.leftButtonGradient {
  background: $surface;
  background: linear-gradient(90deg, $surface 20%, rgba(0, 0, 0, 0) 100%);
}

.rightButtonGradient {
  background: $surface;
  background: linear-gradient(-90deg, $surface 20%, rgba(0, 0, 0, 0) 100%);
}
